.hero-buttons{
  margin-top:15px;
  display:flex;
  gap:10px;
}

.btn.outline{
  background:transparent;
  border:1px solid #a78bfa;
}

.status{
  margin-top:10px;
  color:#94a3b8;
  font-size:14px;
}

.project-links{
  margin-top:10px;
}

.project-links a{
  margin-right:10px;
  color:#a78bfa;
  text-decoration:none;
  font-size:14px;
}
